*

!src/
!src/car_counter.py
!src/bytetrack.yaml
!src/yolo11m.pt
!src/license_plate_detector.pt
!requirements.txt
!.gitignore
!README.md
!LICENSE
!Dockerfile
!docker-compose.yml
!.dockerignore
!run_docker.sh

# Data directories
videos/
output/
tracking_output/
